body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:158px;
  top:120px;
  width:39px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:150px;
  top:145px;
  width:181px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:680px;
  top:120px;
  width:65px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
